

input {
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c75a00;
    margin-bottom: 16px;
  }
  
  button {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 0px;
  }
  
  button:hover {
    background-color: #cf7702;
  }